@use '../abstracts/fonts' as *; // тут генерується @font-face автоматично
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Base: Typography

html {
    font-size: $font-size-base;
}
.plyr--video .plyr__control--overlaid {
  color: $black; // колір іконки великої кнопки Play
}

// Глобальні змінні теми для Plyr
:root {
  --plyr-color-main: #{$orange};
  --swiper-theme-color: #{$orange};
  // колір іконок контролів (де підтримується currentColor)
 
}

body {
   font-family: 'UAFSans', sans-serif;
  font-weight: 400;
  font-style: normal;
    color: $white;
    background: $black;
    line-height: $line-height-base;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden; // обрізаємо горизонтальний скрол
    overflow-y: auto; // вертикальний скрол дозволений
    text-wrap: balance;
    &::before {
        content: '';
        display: block;
        background: url('../img/noise.webp') repeat;
        width: 100%;
        height: 100vh;
        position: fixed;
        inset: 0;
        opacity: .2;
        pointer-events: none;
        z-index: 3;
        
    }
}
.plyr__control.plyr__control--overlaid {
    color: $black;
    transition: .3s ease;
    opacity: 1;
    &:hover {
        color: $black;
        transition: .3s ease;
        transform: translate(-50%, -50%) scale(1.1);
    }
}