@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
.swiper {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.swiper-wrapper {
    display: flex;
}
.swiper-slide {
    width: auto;
    flex: 0 0 auto; // prevent shrinking, let Swiper control width
    height: auto;
}
.swiper-btn {
&-prev {
    svg {
        transform: scaleX(-1);
    }
    &:hover {
    svg {
        path {
            stroke:$black;
        }
    }
}

}
&-next {
    svg {
        transform: scaleX(1);
    }
    &:hover {
    svg {
        path {
            stroke:$black;
        }
    }
}

}
}